.wrap {
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    background-color: #ffff55;
    border-radius: 50px;
    flex-flow: column wrap;
    padding: 30px;
    gap: 20px;
}
